:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Header;
    src: url(header.ttf);
}

@font-face {
    font-family: Link;
    src: url(link.ttf);
}

@font-face {
    font-family: Paragraph;
    src: url(paragraph.ttf);
}

@font-face {
    font-family: Paragraphs;
    src: url(paragraph-bold.ttf);
}
img {
    border-radius: 100%;
    margin-top: 30px;
}
* {
    box-sizing: border-box;
}

body{
    background-color: var(--Grey-900);
    width: 1440px;
    max-width: border-box;
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--Grey-800);
    width: 300px;
    height: 580px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.card-head {
    text-align: center;
    align-items: center;
}

h2 {
    font-family: Paragraphs;
    color: var(--White);
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0%;
}
.description {
    font-family: Paragraphs;
    font-size: 11px;
    color: var(--Green);
    margin: 0px;
    padding-top: 5px;
}

.note {
    font-family: Paragraphs;
    font-size: 11px;
    color: var(--White);
    margin-top: 20px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
}
.links a {
    text-decoration: none;
    background-color: var(--Grey-700);
    color: var(--White);
    font-family: Link;
    font-size: 11px;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin-left: 22px;
    margin-right: 22px;
}

a:active{
    background-color: var(--Green);
    color: black;
}


